<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.szdb.mbaz" >

    <application
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="android.szdb.mbaz.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="android.szdb.mbaz.MenuActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="android.szdb.mbaz.UstawieniaActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_ustawienia" >
        </activity>
        <activity
            android:name="android.szdb.mbaz.DochodyActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dochody" >
        </activity>
        <activity
            android:name="android.szdb.mbaz.WydatkiActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_wydatki" >
        </activity>
        <activity
            android:name="android.szdb.mbaz.PlanyActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_plany" >
        </activity>
        <activity
            android:name="android.szdb.mbaz.ZestawienieActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_zestawienie" >
        </activity>
        <activity
            android:name="android.szdb.mbaz.WydatkiDodajActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_wydatki_dodaj" >
        </activity>
        <activity
            android:name="android.szdb.mbaz.DochodyDodajActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dochody_dodaj" >
        </activity>
    </application>

</manifest>
